@charset "UTF-8";
body {
	background-color: #BFC499;
}

#welcomeDiv {
	background-color: #FF9999;
	margin: 20 px;
	border: solid white 8px;
	padding: 5px;
	align: center;
}

h1 {
	font-color: #D1FFD1;
}